<div class="text-center">
    <form class="form-horizontal" role="form" method="POST" action="/save_experiment" enctype=multipart/form-data>
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-2 control-label" for="organization">Organization:</label>
            <div class="col-sm-5">
                <input class="form-control" name="organization" id="organization">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-2  control-label" for="title">Title:</label>
            <div class="col-sm-5">
                <input class="form-control" name="title" id="title" placeholder="experiment#0">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-2 control-label" for="title">Date:</label>
            <div class="col-sm-5">
                <input class="form-control" name="date" id="date" type="date">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-2 control-label">Description:</label>
            <div class="col-sm-5">
                <textarea class="form-control" name="description" placeholder="Metabolomic experiment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-2 control-label">Software:</label>
            <div class="col-sm-5">
                <input class="form-control" name="software" placeholder="XCMS (R package)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-2 control-label">Version:</label>
            <div class="col-sm-5">
                <input class="form-control" name="version" placeholder="None">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-sm-offset-2 control-label">Parameters (script):</label>
            <div class="col-sm-5">
                <input type="text" class="form-control floating-label" placeholder="Browse...">
                <input name="parameters" type="file">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4"></label>
            <button class="col-sm-5 btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>