{% extends "layout.html" %}
{% block body %}


<div style="margin-left: 200px; width: 80%; " class="animable-container container">
    <div id="loading" style="position: absolute; top:0; bottom:0; left:0; right:0; visibility:hidden; z-index:1000;">
        <img src="/static/loader.gif">
    </div>
    <form id="upload-form" class="row" role="form" method="POST" action="/launch_exp" enctype=multipart/form-data>

        <div class="col-lg-6">
            <h3>Experiments metadata</h3>
            <hr style="border: solid 1px;">
            <!--<div class="text-center">-->
                <div class="form-horizontal" >
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="organization">Organization:</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="organization" id="organization" value="IRSTEA">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3  control-label" for="title">Title:</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="title" id="title" placeholder="experiment#0" value="Nucleipark">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="title">Date:</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="date" id="date" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Description:</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" name="description" placeholder="Metabolomic experiment">Metabolomic experiment</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Software:</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="software" placeholder="XCMS (R package)" value="XCMS">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Version:</label>
                        <div class="col-lg-9">
                            <input class="form-control" name="version" placeholder="None" value="3.18">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Parameters (script):</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" rows="10" name="parameters">None</textarea>
                        </div>
                    </div>

                </div>
            <!--</div>-->
        </div>

        <div class="col-lg-6">
            <h3>Annotations parameters</h3>
            <hr style="border: solid 1px;">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3  control-label">peaklist:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control floating-label" placeholder="Browse...">
                        <input id="file-picker" name="peaklist" type="file">
                        <!--<a id="file-picker" href="javascript:;">Choose</a>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3  control-label">m/z tolerance:</label>
                    <div class="col-lg-9">
                        <input class="slider" type='range' name="mz_tol_ppm" value="10" min="1" max="50">
                        <div class="checkbox">
                            <label  class="col-lg-9 col-offset-3">
                                <input name='is_dims' type="checkbox"> Direct Infustion experiment
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3  control-label">polarity:</label>
                    <div class="col-lg-9">
                        <select id="polarity" name="polarity" class="form-control">
                            <option>positive</option>
                            <option>negative</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3  control-label">Adducts and fragments:</label>
                    <div class="col-lg-9">
                        <select style="height:300px;" id="adducts" name="adds" multiple class="form-control">
                            <optgroup label="fragments">
                                <option>Fragment [M+H2O],1,0,-18.01057</option>
                                <option>Fragment [M-H2O],1,0,18.01057</option>
                                <option>Fragment [M-CO],1,0,27.99492</option>
                                <option>Fragment [M-CO2],1,0,43.98983</option>
                                <option>Fragment [M-NH3],1,0,17.02655</option>
                                <option>Fragment [M-SO],1,0,47.96699</option>
                                <option>Fragment [M-SO2],1,0,63.9619</option>
                                <option>Fragment [M-SO3],1,0,79.95682</option>
                                <option>Fragment [M-H2SO4],1,0,97.96738</option>
                                <option>Fragment [M-H3PO4],1,0,97.9769</option>
                             </optgroup>
                            <optgroup label="adducts">
                                <option>[M+Na+],1,1,-21.98194</option>
                                <option>[M+K+],1,1,-37.95588</option>
                            </optgroup>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-4"></label>
                    <button id="upload-button" class="col-lg-5 btn btn-primary" type="submit">Submit</button>
                     <!--type="submit"-->
                </div>

            </div>
        </div>
    </form>

        <!--<div id="progress" class="row">-->
            <!--<div id="progress-bar"></div>-->
        <!--</div>-->
</div>
<script>
    $('#upload-form').submit(function(e){
        $('#loading').css('visibility', 'visible');
    });

//    $('#upload-button').on('click', function(){
//
//        $('upload-form').submit()
//        $('loading').css('visibility', 'hidden');
//    });
</script>
<!--<script src="/static/plupload/plupload.full.min.js"></script>-->
<!--<script type="text/javascript">-->

    <!--var uploader = new plupload.Uploader({-->
      <!--runtimes : 'html5,flash,silverlight,html4',-->

      <!--browse_button : 'file-picker', // you can pass in id...-->


       <!--url : "/launch_exp",-->

    <!--filters : {-->
        <!--max_file_size : '50mb'-->
    <!--},-->

    <!--// Flash settings-->
    <!--flash_swf_url : '/static/plupload/Moxie.swf',-->

    <!--// Silverlight settings-->
    <!--silverlight_xap_url : '/static/plupload/Moxie.xap'-->
    <!--});-->



<!--//    uploader.bind('FilesAdded', function(up, files) {-->
<!--//      var html = '';-->
<!--//      plupload.each(files, function(file) {-->
<!--//        html += '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></li>';-->
<!--//      });-->
<!--//      document.getElementById('filelist').innerHTML += html;-->
<!--//    });-->

    <!--uploader.bind('UploadProgress', function(up, file) {-->
      <!--//document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";-->
      <!--$('#progress-bar').text( file.percent + "%");-->
    <!--});-->

<!--//    uploader.bind('Error', function(up, err) {-->
<!--//      document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;-->
<!--//    });-->

     <!--$('#upload-button').on('click', function () {-->
            <!--console.log('uploading started');-->
            <!--uploader.start();-->
     <!--});-->

     <!--uploader.bind('UploadComplete', function(up, files){-->
            <!--console.log('submitting file');-->
            <!--$('#upload-form').submit();-->
        <!--});-->


    <!--uploader.init();-->

<!--//    $('#upload-form').submit(function(e) {-->
<!--//-->
<!--//        //prevent default event not submit yet-->
<!--//        e.preventDefault();-->
<!--//-->
<!--//         uploader.start();-->
<!--//-->
<!--////-->
<!--//    });-->


<!--</script>-->

<script>
    var pos_adducts = ["[M+Na+],1,1,-21.98194",
                       "[M+K+],1,1,-37.95588"];
    var neg_adducts = ["Adduct [M+Cl (35)],1,-1,-34.968853",
                       "Adduct [M+Cl (37)]-,1,-1,-36.965903",
                       "Adduct [M+HCOO]-,1,-1,-44.9982",
                       "Adduct [M+CH3COO]-,1,-1,-59.01385"];


    $('#polarity').change(function(e){
        console.log($('#polarity').val());

        var adds = $("#adducts optgroup[label='adducts']");
        console.log(adds);
        adds.children().remove().end();

//        var optgroups = $('#adducts').find('optgroup') //.remove().end()
//        var adducts = null;
//        optgroups.each(function(index, gp) {
//           if (gp.label == 'adducts') {
//               adducts = gp;
//               console.log(adducts.children);
//               adducts.children.each(function(k, opt) {
//                   console.log(opt);
//                   adducts.remove(opt);
//               }); //find('option').remove().end();
//           }
//        });

        if ($('#polarity').val() =='negative') {
            for (var i=0; i < neg_adducts.length; ++i) {
                adds.append(new Option(neg_adducts[i], neg_adducts[i]))
            }
        } else {
            for (var i=0; i < pos_adducts.length; ++i) {
                adds.append(new Option(pos_adducts[i], pos_adducts[i]))
            }
        }

    });
</script>
{% endblock %}