<!doctype html>
<html style="position:relative; width:100%; min-height:100%;">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/static/material/css-compiled/ripples.min.css" rel="stylesheet">
    <link href="/static/material/css-compiled/material-wfont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <style>

        #menu {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .container {
          -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        #menu ul li {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-radius: 0;
            /*border: solid 1px white;*/
            /*background-color:#bdbdbd;*/
        }
        /*#menu ul li {*/
            /*border: 1px solid #ef6c00;*/
        /*}*/

        #menu ul li a {
            color:lightgrey;
        }

        /*#menu ul li a{*/
            /*-webkit-transition: all 0.5s ease;*/
            /*-moz-transition: all 0.5s ease;*/
            /*-o-transition: all 0.5s ease;*/
            /*transition: all 0.5s ease;*/
        /*}*/

        #menu ul li a:hover {
            background-color: black;/*#9c27b0;  #563D7C;*/
            color: white;
            border-radius: 0;
            border-left: solid 5px #9c27b0;
            /*text-decoration: underline;*/
            /*color:white;*/
            /*background-color: #ef6c00;*/
        }

    </style>
</head>

<body style="width:100%; height:100%; margin-bottom: 120px; background-color: #f5f5f5">
<!--#f5f5f5" >-->



<!--url('/static/trianglify-background.svg'); background-size: cover;">-->
    <div style="background-color: #fff;" class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="color:#03a9f4;" class="navbar-brand" href='{{ url_for("hello_world") }}'><strong>Eledelphe</strong></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="view_li" class="active"><a style="color:#03a9f4;" href='{{ url_for("hello_world") }}'>View experiment</a></li>
                <li id="add_li"><a style="color:#03a9f4;" href='{{ url_for("save_experiment_form") }}'>Add experiment</a></li>
            </ul>
            <div class="navbar-right">
                <a id="toggle_menu" style="color:#03a9f4; font-size: 2em; margin-top: -5px;" class="btn btn-flat glyphicon glyphicon-th-list"></a>
                <!--<button style="margin-top: -10px;" id="toggle_menu" class="btn btn-xs btn-primary">Show menu</button>-->
                <a href="/logout" style="color:#03a9f4;font-size: 2em; margin-top: -5px;;" class="btn btn-flat glyphicon glyphicon-log-out"></a>
                <!--<button style="margin-top: -10px;" type="submit" class="btn btn-xs">Log out</button>-->
            </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>



    <div class="jumbotron" style="padding-top:5%; padding-bottom:3%; background-color:#03a9f4;"> <!-- #5bc0debackground-image: url(/static/texture.jpg); background-size:cover;"> <!---color:#5bc0de;">-->
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <h1 style="color:white;">Omics Services analysis</h1>
                </div>
                <div class="col-xs-3">
                    <p style="border: solid 1px;text-align:center; padding: 20px 0 20px 0; color: white; margin-top: 20px;">Omics Services</p>
                    <!--<img style="padding-top:20px;" src="/static/omics-services-small.png"/>-->
                </div>
            </div>
            <h4 style="color:lightskyblue;">Metabolomics, Proteomics, Genomics, Statistics</h4>
            <!--<p><a class="btn btn-primary btn-lg" role="button">Show all experiments</a></p>-->
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
            {%- for category, message in messages %}
                <div style="text-align: center; max-width: 350px; z-index:1000; background-color: #9c27b0; color:white; position:fixed; right:0;" class="disappear well">
                     {{category.capitalize()}}: {{ message }}
                </div>
            {% endfor -%}
      {% endif %}
    {% endwith %}

    <div id="menu" style="position:absolute; padding: 0 0 0 0; background-color: #3A3633; margin-top: 255px;width:100px; top:0; bottom:0; left:0; opacity:1.0; text-align: center; " class="col-xs-2">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href='#' > Hello <strong>{{ login.upper() }}.</strong></a><hr style="border:solid 1px black; border-bottom:solid 1px grey; border-top:solid 1px black">
            </li>

            <!--launch experiment-->
            <li >
                <a href="{{ url_for('launch_experiment') }}"><i style="font-size: 2em;" class="glyphicon glyphicon-plus-sign"></i></a>
            </li>

            <!--View experiment-->
            <li>
                <a><i style="font-size: 2em;" class="glyphicon glyphicon-eye-open"></i></a>
            </li>

            <!--edit exp-->
            <li>
                <a><i style="font-size: 2em;" class="glyphicon glyphicon-pencil"></i></a>
            </li>

            <!--jobs-->
            <li>
                <a href='{{ url_for("show_jobs") }}'><i style="font-size: 2em;" class="glyphicon glyphicon-tasks"></i></a>
            </li>
            <!--<li>-->
                <!--<a class="btn btn-warning">Hide</a>-->
            <!--</li>-->

            <!--<li style="padding-top: 20px;">-->
                <!--<h3 style="color:#29b6f6">News</h3><hr style="border: solid 1px; border-color: #29b6f6;">-->
            <!--</li>-->

            <!--<li><a type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><strong>Eledelphe</strong> version 0.0.1</a></li>-->
            <!--<li><a href="http://omics-services.com">Visit us at omics-services.com</a></li>-->
        </ul>

        <!--New container for social icons-->
        <!--have to put in container fluid or fail!-->
    </div>

    {% block body %}
    {% endblock %}



    <script>
        $('#toggle_menu').click(function(e) {
            e.preventDefault();
            var menu = $('#menu');
            if (menu.css('opacity') == 1.0) {
                menu.css('opacity', 0.0);
                $('.animable-container').css('margin-left', 'auto');
            } else {
                menu.css('opacity', 1.0);
                $('.animable-container').css('margin-left', '200px');
            }


        });


        setTimeout(function() {
            $('.disappear').fadeOut(1000);
        }, 2000)

    </script>

    <script src="/static/material/scripts/ripples.js"></script>
    <script src="/static/material/scripts/material.js"></script>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</body>
<footer>
    <div style="background-color:darkslategrey; height:120px; color:white; bottom:0; position:absolute; width:100%;" class="text-center">
        <p style="padding-top: 20px">Copyright <a href="http://omics-services.com">omics services</a>2014</p>

        <div style="max-width: 170px; padding-bottom: 10px;" class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img style="max-width: 50px" src="/static/email.png" />
                </div>
                <div class="col-xs-4">
                    <img style="max-width: 50px" src="/static/linkedin.png">
                </div>
                <div class="col-xs-4">
                    <img style="max-width: 50px" src="/static/twitter.png" />
                </div>
            </div>
        </div>
    </div>
</footer>
<!--<footer class="col-md-12 text-center" style="position: absolute; bottom: 0;width: 100%; height: 60px;background-color: darkslategrey; color:white;">
    <p style="padding-top: 20px">Copyright omics services 2014</p>
</footer>-->

</html>